<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>ALL SCORES</title>
    </head>

    <body>
        <h1>LOOK AT ALL SCORES</h1>

        <table>
    <tr>
        <th>TEAM NAME</th>
        
        <th>SCORE</th>
        
        
    </tr>
    {{new_dict}}
    {% for x in new_dict %}
    <tr> 
        <td>{{x.0}}</td>
        
        <td>{{x.1}}</td>
        
    </tr>
    {% endfor %}
</table>

    </body>
</html>